@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply min-h-screen bg-white;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: none;
  }

  body {
    padding-bottom: env(safe-area-inset-bottom, 0px);
    padding-top: env(safe-area-inset-top, 0px);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
