@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000000;
    --surface: #0a0a0a;
    --surface-hover: #171717;
    --border: #262626;
    --text-main: #ededed;
    --text-muted: #a3a3a3;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
  }
  body {
    overscroll-behavior: none;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
